@font-face {
    font-family: "CaviarDreams";
    src: url(../../fonts/CaviarDreams/CaviarDreams.ttf);
  }
  
  @font-face {
    font-family: "trebuchetms";
    src: url(../../fonts/Trebuchet\ MS/trebuchetms.ttf);
  }

  html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
  }
  
  body {
    position: relative;
  }

  a, button {
    pointer-events: auto;
    z-index: 1;
  }
  
  /* Разрешаем прокручивание только на элементе с фоном */
  body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: auto;
    background-image: url(../../images/monoback.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    z-index: -1;
  }