@font-face {
  font-family: "CaviarDreams";
  src: url(fonts/CaviarDreams/CaviarDreams.ttf);
}

@font-face {
  font-family: "trebuchetms";
  src: url(fonts/Trebuchet\ MS/trebuchetms.ttf);
}

/*МЕНЮ НАВИГАЦИИ ДЛЯ КОМПА*/
/*ПОКАЗАТЬ НАДПИСИ*/
/*СКРЫТЬ КАРТИНКИ*/
/*ЗАМЕНИТЬ КОНТАКТЫ НА КАРТИНКУ*/
/*ЗАМЕНИТЬ КЕЙТЕРИНГ НА КАРТИНКУ*/
/*ЗАМЕНИТЬ КОНТАКТЫ НА КАРТИНКУ*/
/*ЗАМЕНИТЬ ЗАМОРОЗКУ НА КАРТИНКУ*/

/*CSS ДЛЯ ТЕЛЕФОНА*/
/*ШАПКА МОБИЛЬНАЯ*/
/*МЕНЮ НАВИГАЦИИ МОБИЛЬНОЕ*/
/*ТЕЛО МОБИЛЬНОЕ*/
/*КАРТОЧКИ ТОВАРОВ МОБИЛЬНЫЕ*/

/*FX ОБРАБОТКА ССЫЛОК В НАВИГАЦИИ УНИВЕРСАЛЬНАЯ*/

:root {
  --ico-width: 30px;
  --ico-height: 30px;
}

body {
  margin: 0;
  color: #e4e3e3;
  width: 100%;
  height: 100vh;
  background-color: #1c1c1d;

  overflow: auto;
}

.background {
  background-image: url(images/monoback.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-origin: border-box;
  height: 100vh;
  vertical-align: middle;
}

.header {
  height: 60px;
  display: flex;
  justify-content: space-between;
}

.header-line-270 {
  display: flex;

  width: 90vw;
  min-height: 50px;

  margin-top: 10px;

  background: linear-gradient(270deg, #343434, #343434 70%, #34343400 95%);
}

.logo-img {
  margin-top: 10px;
}

.logo-img>img {
  width: 200px;
  margin-top: 10px;
  margin-left: 20px;
}

.header-line-90 {
  display: flex;

  width: 5vw;
  min-height: 50px;

  margin-top: 10px;

  background: linear-gradient(90deg, #343434, #343434 5%, #34343400 50%);
}

/*ОСНОВНАЯ ИНФОРМАЦИЯ*/

.main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  margin-top: 30px;
}

.border-table {
  padding: 0 40px;
}

/*----------------------------------------*/

/*МЕНЮ НАВИГАЦИИ ДЛЯ КОМПА*/

@media (orientation: landscape) {
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 50px;
  }

  nav>div {
    margin-right: 30px;
    font-family: "CaviarDreams", sans-serif;
    font-weight: 400;
    font-size: 20px;
  }

  /*ПОКАЗАТЬ НАДПИСИ*/

  nav>div.menu>a::before {
    content: "Меню";
  }

  nav>div.freeze>a::before {
    content: "Полуфабрикаты";
  }

  nav>div.delivery>a::before {
    content: "Доставка";
  }

  nav>div.contacts>a::before {
    content: "Контакты";
  }

  nav>div.keitering>a::before {
    content: "Кейтеринг";
    text-shadow: 0 0 5px goldenrod;
    color: rgb(255, 217, 0);
  }

  /*СКРЫТЬ КАРТИНКИ*/
  .freeze-img {
    display: none;
  }

  .delivery-img {
    display: none;
  }

  .contacts-img {
    display: none;
  }

  .menu-img {
    display: none;
  }

  .keitering-img {
    display: none;
  }
}

/*ЗАМЕНИТЬ КОНТАКТЫ НА КАРТИНКУ*/

@media (orientation: landscape) and (max-width: 860px) {
  .header-line-90 {
    display: none;
  }

  nav {
    justify-content: start;
    width: 100%;
    margin: 0 20px 0 20px;
  }

  nav div.contacts {
    display: none;
  }

  nav img.contacts-img {
    padding: 5px;

    margin-right: 30px;

    border: 1px solid whitesmoke;
    border-radius: 10px;
    box-shadow: 0 0 2px whitesmoke;
    background-color: #4b4a4a;

    height: var(--ico-height);
    width: var(--ico-width);

    display: block;
    cursor: pointer;
  }
}

/*ЗАМЕНИТЬ КЕЙТЕРИНГ НА КАРТИНКУ*/

@media (orientation: landscape) and (max-width: 780px) {
  nav div.keitering {
    display: none;
  }

  nav img.keitering-img {
    padding: 5px;

    margin-right: 30px;


    border-radius: 10px;
    border: 1px solid gold;
    box-shadow: 0 0 8px gold;
    background-color: #4b4a4a;

    height: var(--ico-height);
    width: var(--ico-width);

    display: block;
    cursor: pointer;
  }
}

/*ЗАМЕНИТЬ ЗАМОРОЗКУ НА КАРТИНКУ*/

@media (orientation: landscape) and (max-width: 700px) {
  nav div.freeze {
    display: none;
  }

  nav img.freeze-img {
    padding: 5px;

    margin-right: 30px;

    border: 1px solid whitesmoke;
    border-radius: 10px;
    box-shadow: 0 0 2px whitesmoke;
    background-color: #4b4a4a;

    height: var(--ico-height);
    width: var(--ico-width);

    display: block;
    cursor: pointer;
  }
}

@media (max-width: 650px) {
  nav img.freeze-img {
    margin: 0;
  }

  nav img.keitering-img {
    margin: 0;
  }

  nav img.contacts-img {
    margin: 0;
  }
}


/*CSS ДЛЯ ТЕЛЕФОНА*/
/*-----------------------------------------------------*/
@media (orientation: portrait),
(max-width: 650px) {
  /*ШАПКА МОБИЛЬНАЯ*/

  .header {
    position: fixed;
    top: 0;
    height: 130px;

    width: 100%;
    display: inline-block;
    justify-content: center;

    background-color: #1c1c1d;
  }

  .header-line-90 {
    display: none;
  }

  .header-line-270 {
    display: flex;
    justify-content: center;
    width: 100%;
    background: none;
  }

  .logo-img {
    display: flex;
    justify-content: center;
  }

  .logo-img>img {
    margin: 0;
    align-self: center;
    justify-content: center;
    height: 50px;
  }

  /*МЕНЮ НАВИГАЦИИ МОБИЛЬНОЕ*/

  nav {
    display: flex;
    justify-content: space-around;
    align-items: center;

    padding-top: 12px;
    width: 100%;
  }

  .header-line-270 {
    margin: 0;
    justify-content: space-around;
  }

  nav>div {
    display: none;
  }

  nav>a>img {
    padding: 5px;

    border: 1px solid whitesmoke;
    border-radius: 10px;
    box-shadow: 0 0 2px whitesmoke;
    background-color: #4b4a4a;

    height: var(--ico-height);
    width: var(--ico-width);

    display: block;
    cursor: pointer;
  }

  nav img.menu-img {
    padding: 5px;
    display: block;
  }

  nav img.keitering-img {
    border: 1px solid gold;
    box-shadow: 0 0 8px gold;
  }

  /*ТЕЛО МОБИЛЬНОЕ*/

  .border-table {
    margin: 0;
    padding: 0;
  }

  .main {
    margin-top: 100px;
  }

  /*КАРТОЧКИ ТОВАРОВ МОБИЛЬНЫЕ*/

  article.product-card {
    margin: 30px 10px 10px 10px;
    width: 130px;
    height: 200px;
  }

  div.price>p {
    margin-top: 1%;
    font-size: 1rem;
  }

  div.product-name>p {
    margin-bottom: 5%;
    font-size: 1rem;
  }

  .product-card>img {
    align-self: center;
    height: 89px;
  }

  button.add {
    height: 35px;
    font-size: 1rem;
  }
}

/*ОБРАБОТКА ССЫЛОК В НАВИГАЦИИ УНИВЕРСАЛЬНАЯ*/

nav>div>a {
  color: rgb(230, 230, 230);
  text-decoration: none;

  transition: all 0.2s ease-in-out;
}

nav>div>a:hover {
  text-shadow: 0 0 10px rgb(255, 183, 0);
}

img.bucket {
  padding: 5px;

  border: 1px solid whitesmoke;
  border-radius: 10px;
  box-shadow: 0 0 2px whitesmoke;
  background-color: #4b4a4a;

  height: var(--ico-height);
  width: var(--ico-width);

  display: block;
  cursor: pointer;
}

@media (orientation:landscape) and (max-width: 1600px) {
  /*ОСНОВНОЙ КОНТЕЙНЕР*/
  div.content-container {
    display: flex;
    margin: 20px 130px 0;
  }

  /*КАРТИНКА*/
  div.image-food img {
    height: 550px;
    align-self: center;
  }

  /*СТИЛИ ТЕКСТА*/

  /*ТЕКСТОВЫЙ КОНТЕЙНЕР С КНОПКОЙ*/
  div.text-container {
    display: flex;
    flex-direction: column;
    padding-left: 70px;
    padding-top: 70px;
  }

  div.col-text {

    /*font*/
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 20px;
    font-family: "CaviarDreams";
  }

  p.info-text {
    padding: 0;
    margin-top: 0;
  }

  /*КОНТЕЙНЕР КНОПКИ*/
  div.button-container {
    /*positions*/
    display: flex;
    justify-content: center;

    margin-top: 60px;

    /*size*/
    width: 100%;
    height: 100%;
  }

  /*СТИЛИ КНОПКИ СВЯЗАТЬСЯ!*/
  div.button button {
    background-color: rgba(0, 0, 0, 0);
    color: #e4e3e3;

    /*font*/
    font-family: "CaviarDreams";
    letter-spacing: 2px;
    font-size: 10px;

    /*positions*/
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 0;

    /*size*/
    width: 150px;
    height: 40px;

    /*border*/
    border: 1px solid #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 7px#fff;

    /*fx-movement*/
    transition: box-shadow, 0.4s linear;
    transition: border, 0.4s linear;
    cursor: pointer;
  }

  div.button button:hover {
    box-shadow: 0px 0px 6px goldenrod;
    border: 1px solid goldenrod;
  }
}