@font-face {
    font-family: "CaviarDreams";
    src: url(../../fonts/CaviarDreams/CaviarDreams.ttf);
}

@font-face {
    font-family: "trebuchetms";
    src: url(../../fonts/Trebuchet\ MS/trebuchetms.ttf);
}

html, body {
  
  margin: 0;
  padding: 0;
}
body {
  background-image: url(../../images/monoback.jpg);
  background-color: #1c1c1d;
  vertical-align: middle;
  background-origin: border-box;
  background-size: cover;
  background-repeat: repeat;
  background-attachment: fixed;
  height: 100vh;
}